/*@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
  font-weight: 500;
  color: black  !important;
}
body {
  padding: 0;
  margin: 0;
  background: #5c757d;
  color: black;
}
button {
  cursor: pointer;
  border: 1px solid #333533;
  outline: none;
  background: #242423;
}

.powitanie{
  background: blue;
  text-align: center;
  color: black;
}

.time{
  background: blue;
  text-align: center;
  color: black;
}*/

