<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tablica odlotów</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/script.js" defer></script>
</head>
<body>
<form>
    <div class="powitanie">
       <h1>Witajcie na lotnisku!<br/><br/></h1>
    </div>
    <div id="clock" class="time">
        <h3>Zegar</h3>
    </div>
    <div th:text="${massage}">
    </div>
    <div>
        <h2>Dostępne loty:<br/><br></h2>
    </div>
    <table border>
        <tr>
            <td>
                Nr lotu:
            </td>
            <td>
                Nazwa samolotu:
            </td>
            <td>
                Model samolotu:
            </td>
            <td>
                Ilość wolnych miejsc:
            </td>
            <td>
                Lotnisko Docelowe:
            </td>
        </tr>
        <tr th:each="samolot:${samoloty}">
            <td  th:text="${samolot.id}">
            </td>
            <td th:text="${samolot.nazwa}">
            </td>
            <td th:text="${samolot.model}">
            </td>
            <td th:text="${samolot.iloscMiejscNaPokladzie}">
            </td>
            <td th:text="${samolot.lotnisko}">
            </td>
        </tr>
    </table>
</form>
<div class="rezerwuj">
    <h2>W celu dokonania rezerwacji lotu postępuj zgodnie z instrukcją:</h2>
</div>
<form action="#" th:action="@{/rezerwuj}" th:object="${samolot}" method="post">
    <p>Wprowadź numer lotu który chcesz zarezerwować: <input type="number" th:field="*{id}"/></p>
    <p><input type="submit" value="Rezerwuj"/> </p>
</form>
<div class="znajdz">
    <h2>Wyszukaj połączenie po lotnisku docelowym:</h2>
</div>
<form action="#" th:action="@{/znajdz}" th:object="${samolot}" method="post">
    <p>Wprowadź lotnisko docelowe: <input type="text" th:field="*{lotnisko}"/></p>
    <p><input type="submit" value="Znajdź"/> </p>
</form>

<div class nowePol>
    <a href="/save" name="nowe">
        <button class="btn">
            Wprowadzanie nowych połączeń.
        </button>
    </a>
</div>
</body>
</html>